<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
      table {
	  border-collapse: collapse;
      }

      td { border-left:   1px solid #ccc }
      tr { border-bottom: 1px solid #ccc }

      th, td { min-width: 3em }
      td { text-align: center }
      th { text-align: left }
      th > form { display: inline }

      /* Rotate table headings.  */
      th.rotate {
	  height: 150px;
	  white-space: nowrap;
      }

      th.rotate > div {
	  transform: translate(25px, 51px) rotate(315deg);
	  width: 30px;
      }
      th.rotate > div > span {
	  padding: 5px 10px;
      }
      /* /Rotate table headings.  */

      pre { background-color: #eee; }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>
      These are the results of running the OpenPGP interoperability
      test suite version {{version}}
      (<a href="https://gitlab.com/sequoia-pgp/openpgp-interoperability-test-suite/commit/{{
      commit }}">{{commit}}</a>) on {{ timestamp | date(format="%Y-%m-%dT%H:%M") }}.
    </p>
    <p>
      Note: These results are not opinionated, i.e. they merely
      reflect what implementations do, without judging whether this is
      the correct thing or not.  Therefore, these results must be
      carefully interpreted.
    </p>
    <p>
      This test suite has been <a href="#hall-of-fame">very
      successful</a> in identifying problems in many OpenPGP
      implementations.  If you want to see your implementation
      included in these results, please implement the
      <a href="https://tools.ietf.org/html/draft-dkg-openpgp-stateless-cli-01">
	Stateless OpenPGP Command Line Interface
      </a>
      and open an issue in our
      <a href="https://gitlab.com/sequoia-pgp/openpgp-interoperability-test-suite/issues">
	tracker
      </a>.  Note: The implementation doesn't have to be complete to
      be useful.  Currently, the test suite only uses "generate-key",
      "encrypt", "decrypt", "sign", and "verify", each without any
      arguments.
    </p>
    <hr />
    <h1>Table of Contents</h1>
    <ol>
      <li>
	<a href="#test-results">Test Results</a>
	<ol>
	  {%- for section in toc -%}
	  <li><a href="#{{section.0.slug}}">{{section.0.title}}</a>
	    <ol>
	      {%- for entry in section.1 -%}
	      <li><a href="#{{entry.slug}}">{{entry.title}}</a></li>
	      {%- endfor -%}
	    </ol>
	  </li>
	  {%- endfor -%}
	</ol>
      </li>
      <li><a href="#hall-of-fame">Hall of Fame</a></li>
      <li><a href="#configuration">Configuration</a></li>
    </ol>
    <hr />
    <a name="test-results"><h1>Test Results</h1></a>
    {{body | safe}}
    <hr />
    {% include "hall-of-fame.inc.html" %}
    <hr />
    <a name="configuration"><h1>Configuration</h1></a>
    <p>
      This is the configuration used to produce this report:
    </p>
    <pre><code>{{configuration | json_encode(pretty=true)}}</code></pre>
    <hr />
    <p>
      OpenPGP interoperability test suite version {{version}}
      (<a href="https://gitlab.com/sequoia-pgp/openpgp-interoperability-test-suite/commit/{{
		commit }}">{{commit}}</a>) powered
      by <a href="https://sequoia-pgp.org">Sequoia-PGP</a>.
    </p>
  </body>
</html>
