<a name="{{slug}}"><h3>{{title}}</h3></a>
<p>
  {{description}}
</p>
<table>
  <tr style="border: none">
    <th></th>
    <th class="rotate"><div><span>Consumer</span></div></th>
    {%- for impl in consumers -%}
    <th class="rotate"><div><span>{{impl.implementation}}/{{impl.version}}</span></div></th>
    {%- endfor -%}
  </tr>
  <tr>
    <th>Producer</th>
    <th>Artifact</th>
  </tr>
  {%- for row in results -%}
  <tr>
    <th>{{row.artifact.producer}}</th>
    <th>
      {%- if row.artifact.data -%}
      <form action="{{dump_url()}}" method="post">
	<button type="submit" title="Inspect with packet dumper">🔎</button>
	<input name="data" type="hidden" value="{{row.artifact.data|pgp2string}}" />
      </form>
      {%- endif -%}
      {%- if row.artifact.error -%}
      <span title="{{row.artifact.error | addslashes}}">✗</span>
      {%- endif -%}
    </th>
    {%- if row.results -%}
    {%- for result in row.results -%}
    <td>
      {%- if result.data -%}
      <span title="{{result.data | bin2string}}">✓</span>
      {%- else -%}
      <span title="{{result.error | addslashes}}">✗</span>
      {%- endif -%}
    </td>
    {%- endfor -%}
    {%- else -%}
    {%- for _ in consumers -%}
    <td></td>
    {%- endfor -%}
    {%- endif -%}
  </tr>
  {%- endfor -%}
</table>
